.button {
  background-color: #f8fafc;
  color: #2b2c49;
  border-radius: 10px;
  padding: 10px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0px;
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 500;
}
